/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 750px) {
    .contact-form {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .textarea-wrapper {
        width: 100%;
        margin-bottom: 15px;
    }
    .left {
        max-width: 350px;
        margin: 0 auto;
    }
    .titles {
        max-width: 350px;
        margin: 0 auto;
        padding-left: 0;
    }
    .footer {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 60px;
    }
    .block1,
    .block4,
    .block2,
    .block3 {
        width: 35%;
        margin: 0 auto;
        margin-top: 20px;
}
.block3,
.block4 {
    margin-top: 70px;
}
}
