@media (max-width: 750px) {
    .contact-form {
        flex-wrap: wrap;
    }
    .textarea-wrapper {
        width: 100%;
        margin-bottom: 15px;
    }
    .left {
        max-width: 350px;
        margin: 0 auto;
    }
    .titles {
        max-width: 350px;
        margin: 0 auto;
        padding-left: 0;
    }
    .footer {
        justify-content: center;
    }
    .block1,
    .block4,
    .block2,
    .block3 {
        width: 35%;
        margin: 0 auto;
        margin-bottom: 20px;
}