/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.titles {
    padding-left: 139px;
}
.sec1p {
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    max-width: 378px;
    width: 100%;
}
.sec1h3 {
    font-size: 14px;
    color: #5863F8;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    padding-top: 54px;
    margin-bottom: 6px;
}
/* form styles  */
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
}
.textarea-wrapper {
    width: 100%;
    height: 288px;
    border: 0.5px solid #E8E8E8;
    background-color: #F8F8F8;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.input-wraper {
    max-width: 350px;
    width: 100%;
    height: 60px;
    border: 0.5px solid #E8E8E8;
    background-color: #F8F8F8;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}  
.btn {
    max-width: 350px;
    width: 100%;
    height: 60px;
    background-color: #5863F8; 
    border: 0.5px solid #E8E8E8; 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.input-wraper:nth-child(1),
.input-wraper:nth-child(2) {
    margin-bottom: 16px;
}
.left {
    margin-right: 16px;
    max-width: 720px;
    width: 100%;
}
.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    width: 100%;
}
.form {
    max-width: 350px;
    width: 100%;
}

/* sec 2 styles */
.sec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.contact-info {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
}
.circle {
    background-color:#5863F8;
    max-width: 59px;
    width: 100%;
    height: 59px;
    border-radius: 50px;
    color: white;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
}
.fa-envelope,
.fa-phone-alt,
.fa-map-marker-alt {
    padding-top: 23px;
}
.cinfo {
    color: black;
    margin-top: 15px;
    margin-bottom: 5px;
}
.pinfo {
    font-size: 14px;
}
.sec1p2 {
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    max-width: 570px;
    width: 100%;
}
.photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 60px;
}
.image {
    margin-top: 20px;
    max-width: 352px;
    width: 100%;

}
/* Footer styles */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #121212;
    color: white;
    padding-top: 90px;
    padding-bottom: 150px;
    width: 100%;
}
.block1 {
    max-width: 255px;
    width: 100%;
}
.foot {
    padding-top: 20px;
    height: auto;
    width: 100%;

}
.title1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.p1 {
    font-size: 14px;
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
}
.title2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.list {
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.fa-facebook {
    color: #3B5998;
    font-size: 25px;
}
.fa-twitter-square {
    color: #55ACEE;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}
.fa-google-plus {
    color:#DC4E41;
    font-size: 25px;
}
.icons {
    margin-top: 20px;
}
.footercont {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    width: 100%;
}
.ft-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.fa-envelope-open,
.fa-phone,
.fa-map-marker {
    color: #5863F8;
    margin-right: 17px;
}
.block4 {
    max-width: 255px;
    width: 100%;
}
